.article-container {
  border: 1px solid #ccc;
  padding: 16px;
  text-align: center;
  position: relative;
}

.article-container img {
  width: 100%;
  height: auto;
}

.price {
  color: #333;
  font-size: 1.5em;
}

.actions button {
  margin: 0 5px;
}

.sale {
  position: absolute;
  top: 0;
  right: 0;
  background-color: orangered;
  color: white;
  padding: 5px;
}

.price-unavailable{
  color: grey;
}